/* Estilos personalizados para o Navbar usando Tailwind */
.navbar{
    @apply w-full p-2 border-b border-solid bg-white fixed top-0 right-0 left-0;
    border-color: rgb(216, 209, 209);
}

.navbar-container {
    @apply flex justify-start items-center;
}
 .navbar-image {
    @apply relative flex-none ml-2;
    height: 50px;
    width: 50px;
}

.navbar-title {
    @apply mr-6 text-pink font-bold text-lg font-mono;
}
.navbar-links {
    @apply  flex-none space-x-4 flex;
}
.navbar-link {
    @apply text-black hover:text-pink font-medium;
}